@use 'vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
  color: $greyBlue300;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

main {
  // width: 100%;
  // height: 100%;
  padding: 2rem 0;
}

.component {
  background: $white;
  width: 87%;
  max-width: 730px;
  margin: 0 auto;
  border-radius: 12px;
}

.thumbnail {
  &__image {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
  }
}

.article {
  box-shadow: 0px 40px 40px -10px $dropshadowBlue;

  &__container {
    padding: 2rem 2rem 1.2rem 2rem;
  }

  &__text {
    h1 {
      font-size: clamp(1.001rem, 0.7874rem + 0.8676vw, 1.3rem);
      margin-bottom: 1rem;
      line-height: 1.5;
      letter-spacing: 0.2px;
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.54;
      color: $greyBlue200;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__author {
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }
    }
    &__avatar {
      margin-right: 1rem;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    &__name {
      font-weight: 700;
    }

    &__date {
      color: $greyBlue200;
    }

    &__share {
      &__button {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background: $greyBlue100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease;
        z-index: 20;

        &:hover {
          background: $blue;

          svg path {
            fill: $white;
          }
        }
      }
    }
  }
}

footer {
  padding: 2rem 0;
  .attribution {
    text-align: center;
  }
}
