@use 'vars' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
  color: $greyBlue300;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

main {
  padding: 2rem 0;
}

.component {
  display: grid;
  grid-template-rows: minmax(1fr, 200px) 1fr;
  grid-template-columns: auto;
  background: $white;
  width: 87%;
  max-width: 730px;
  margin: 0 auto;
  border-radius: 12px;
}

.thumbnail {
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
  }
}

.article {
  box-shadow: 0px 40px 40px -10px $dropshadowBlue;

  &__text {
    padding: 2rem 2rem 0rem 2rem;
    h1 {
      font-size: clamp(1.001rem, 0.7874rem + 0.8676vw, 1.3rem);
      margin-bottom: 1rem;
      line-height: 1.5;
      letter-spacing: 0.2px;
    }

    p {
      margin-bottom: 1.5rem;
      line-height: 1.54;
      color: $greyBlue200;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.8rem 2rem 0.95rem 2rem;

    &__author {
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }
    }
    &__avatar {
      margin-right: 1rem;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    &__name {
      font-weight: 700;
    }

    &__date {
      color: $greyBlue200;
    }

    &__share {
      display: flex;

      &__button {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background: $greyBlue100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease;
        z-index: 20;

        &:hover {
          background: $blue;

          svg path {
            fill: $white;
          }
        }
      }

      &__options {
        display: none;
        gap: 10px;

        span {
          text-transform: uppercase;
          letter-spacing: 5px;
        }

        a {
          display: flex;
        }

        a,
        a:visited {
          svg path {
            transition: fill 0.25s ease;
            fill: $white;
          }
        }
        a:hover {
          svg path {
            fill: $greyBlue200;
          }
        }

        &.active {
          padding: 0 2rem;
          color: $greyBlue200;
          background-color: $greyBlue300;
          display: flex;
          position: absolute;
          inset: 0;
          align-items: center;
          border-radius: 0px 0px 12px 12px;
          z-index: 10;
          display: flex;
        }
      }
    }
  }
}

footer {
  padding: 2rem 0;
  .attribution {
    text-align: center;
    color: $greyBlue200;

    a,
    a:visited {
      text-decoration: none;
      font-weight: 700;
      color: $greyBlue300;
    }

    a:hover,
    a:active {
      color: $blue;
    }
  }
}

@include break('small') {
  .component {
    grid-template-rows: 1fr;
    grid-template-columns: 285px 1fr;

    .thumbnail {
      &__image {
        border-radius: 12px 0px 0px 12px;
      }
    }

    .article {
      &__details {
        &__share {
          position: relative;
          &__options {
            width: fit-content;
            height: 100%;
            border-radius: 12px;
            left: -300%;
            top: -75px;
            padding: 1.5rem 2rem;

            &::after {
              content: '';
              width: 0px;
              height: 0px;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-top: 12px solid $greyBlue300;
              position: absolute;
              bottom: -12px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}
