@use 'vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
  color: $greyBlue300;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

.article {
  width: 87%;
  max-width: 730px;
  margin: 0 auto;
  border-radius: 10px;
  background: $white;
  display: grid;
  grid-template-rows: minmax(1fr, 200px) 1fr;

  &__image {
    background-image: url('../assets/images/drawers.jpg');
    background-repeat: no-repeat;
    height: 100%;
  }

  article {
    padding: 2.46rem 2.46rem 1.5rem 2.46rem;

    h1 {
      margin-bottom: 1rem;
    }
  }
}

footer {
  .attribution {
    text-align: center;
  }
}
