@use 'vars' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
  color: $greyBlue300;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.article-container {
  width: 87%;
  align-self: center;
  max-width: 730px;
  margin: 2rem 0;
  border-radius: 10px;
  background: $white;
  display: grid;
  grid-template-rows: minmax(1fr, 200px) 1fr;
  grid-template-columns: auto;

  .article {
    padding: 2.4rem 2.4rem 1.5rem 2.4rem;
    box-shadow: 0px 40px 40px -10px $dropshadowBlue;

    &__image {
      width: 100%;
      border-radius: 12px 12px 0px 0px;
    }

    h1 {
      font-size: clamp(1.001rem, 0.7874rem + 0.8676vw, 1.3rem);
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }

    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--left {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
      }

      &__avatar {
        margin-right: 1rem;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      &__name {
        font-weight: 700;
      }

      &__date {
        color: $greyBlue200;
      }
    }
  }

  .share-button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background: $greyBlue100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include break('small') {
    grid-template-rows: 1fr;
    grid-template-columns: 285px 1fr;

    .article {
      &__image {
        height: 100%;
        object-fit: cover;
        border-radius: 12px 0px 0px 12px;
      }
    }
  }
}

footer {
  .attribution {
    text-align: center;
    color: $greyBlue200;

    a,
    a:visited {
      color: $greyBlue300;
      text-decoration: none;
      font-weight: 700;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}
