@use 'vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
}
