@use 'vars' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background: $greyBlue100;
  color: $greyBlue300;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul,
ol {
  list-style: none;
}

p {
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.component {
  width: 87%;
  align-self: center;
  max-width: 730px;
  margin: 2rem 0;
  border-radius: 10px;
  background: $white;
  display: grid;
  grid-template-rows: minmax(1fr, 200px) 1fr;
  grid-template-columns: auto;

  .article {
    box-shadow: 0px 40px 40px -10px $dropshadowBlue;

    &__image {
      width: 100%;
      border-radius: 12px 12px 0px 0px;
    }

    &__container {
      padding: 2.4rem 2.4rem 1.5rem 2.4rem;
    }

    &__text {
      h1 {
        font-size: clamp(1.001rem, 0.7874rem + 0.8676vw, 1.3rem);
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
        line-height: 1.54;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border: 1px solid red;

      &__author {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
      }

      &__avatar {
        margin-right: 1rem;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      &__name {
        font-weight: 700;
      }

      &__date {
        color: $greyBlue200;
      }
    }
  }

  .share {
    position: relative;

    &__popup {
      display: flex;
      align-items: center;
      background-color: $greyBlue300;
      position: absolute;
      z-index: 10;

      span {
        color: $greyBlue100;
        text-transform: uppercase;
      }

      &__icons {
        display: flex;
        align-items: center;

        span {
          color: $greyBlue100;
        }
      }
    }

    &__button {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 0;
      background: $greyBlue100;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease;

      &:hover {
        background: $blue;

        svg path {
          fill: $white;
        }
      }
    }
  }

  @include break('small') {
    grid-template-rows: 1fr;
    grid-template-columns: 285px 1fr;

    .article {
      &__image {
        height: 100%;
        object-fit: cover;
        border-radius: 12px 0px 0px 12px;
      }
    }
    .share {
      &__popup {
        background-color: $greyBlue300;
        width: 248px;
        position: &__icons {
          display: flex;
        }
      }
    }
  }
}

footer {
  .attribution {
    text-align: center;
    color: $greyBlue200;

    a,
    a:visited {
      color: $greyBlue300;
      text-decoration: none;
      font-weight: 700;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}
